{{extend 'layout.html'}}
<h1>Happy Goblin</h1>
<p>Happy Goblin is a hobby project to collect and manage Magic the Gathering game stats for your playgroup. Happy Goblin is very much a work in progress.</p>
<h2>Logins</h2> 
<p> Happy Goblin uses the <a href="https://login.persona.org/about">Mozilla Persona</a> service to manage user logins. It just makes it easier for all of us. No there are no local only accounts for Happy Goblin</p>
<h2>Data</h2>
<p>As this is a hobby project, I can't guarantee data backups. Of course I do my best to not lose any data, but with the current resouces I cannot guarantee it (e.g. server failure).</p>
<p>The user data might be used for collecting stats, but not for selling. That's just mean.</p>
<h2>API and Data export</h2>
<p>Currently there is no end-user reachable API for Happy Goblin. But a web app without a REST API is just plain silly, so it's on the todo list.</p>
<h2>Mobile Apps</h2>
<p>There are no mobile apps at the moment. They are a consideration for the future</p>
<h2>Liability and stuff</h2>
<p>Yeah, use at your own risk. I might accidentally screw things up.</p>
<h2>Code</h2>
<p>If this isn't on github already, it will be.</p>
<h2>Copyright</h2>
<p>2015 Kalle Happonen</p>